/* CSS for all pages */

html{
  font-size: 16px; 
  line-height: 1.2em;  
  text-rendering: optimizeLegibility;
  height: 100%;
  padding-bottom: 1.2em; 
  font-family: 'Jost', sans-serif;
}

h1{
  font-size: 1.575em; 
  line-height: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em; 
  text-transform: uppercase;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h2{
  font-size: 1.476em; 
  line-height: 1.2em; 
  padding-top: 1.2em;
  padding-bottom: 1.2em; 
  font-family: 'Merriweather Sans', sans-serif;
}

h3{
  font-size: 1.383em; 
  line-height: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em; 
  font-family: 'Merriweather Sans', sans-serif;
}

p{
  padding-top: 1.2em;
  padding-bottom: 1.2em; 
}

a{
  text-decoration: none;
  color: rgb(0, 43, 128);
  font-family: 'Merriweather Sans', sans-serif;
}

#contact-link{
  color: #fff;
  text-decoration: underline;
}

ul{
  list-style-type: none;
}

nav {
  overflow: hidden;
  position: relative;
}

nav ul li{
  float: none;
}

ul li{
  float: left;
  padding: 14px 16px;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 22px;
  padding: 14px 16px;
}

nav a {
  padding: 14px 16px;
  color: #fff;
}

nav #myLinks {
  display: none;
  text-align: center;
  background-color: rgb(0, 43, 128);
}

nav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%;
}

ul li a:hover {
  color: #0b3f9d;
  background: none;
  text-decoration: underline;
  text-underline-position: under;
}

#logo{
  margin-left: 10%;
}

footer{
  clear: both;
  width: 100%;
  background-color: rgb(0, 43, 128);
  overflow: hidden;
}

footer a{
  color: #fff;
}

footer ul li a:hover {
  color: #fff;
}

#f-forms{
  float: left;
}

#socials{
  float: right;
}

footer img {
  padding: 0;
}

/* CSS for index.html */


#row{
  background-color: white;
  border-radius: 10px;  
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

#rowF{
  background-color: white;
  border-radius: 10px;  
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  padding: 30px;
}

#img{
  width: 100%
}

#imgF{
  width: 80%
}


#text-overlay{
  text-align: center;
  background-color: rgb(0, 43, 128);
  color: #fff;
  overflow: hidden;
  padding: 10px;
}

.rowhead{
  border-top: 1px solid;
  text-align: left;
  margin-top: 10%;
}

.col img{
  text-align: center;
  width: 100%;
  height: auto;
}

.row{
  overflow: hidden;
  margin: 30px auto;
}

.col{
  background-color: #f7f7f7;
}

.col-inner{
  padding: 20px;
  width: 90%;
}

@media only screen and (min-width: 680px){
  nav {
    position: relative;
  }
  
  nav a {
    color: rgb(0, 43, 128);
    padding: 14px 16px;
  }
  
  nav ul li{
    float: left;
  }
  
  ul{
    list-style-type: none;
  }

  ul li a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    padding: 14px 16px;
  }
  
  nav #myLinks {
    display: block;
    float: right;
    background: none;
    color: #0b3f9d;
    clear: both;
    margin-right: 10%;
  }
  
  nav a.icon {
    display: none;
  }

  ul li a:hover {
    color: #0b3f9d;
    background: none;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  #wrap{
    margin: 0% 10% 0% 10%;
  }
  
  .col{
    float: left;
    width: 30%;
    margin-left: 2.5%;
    background-color: #f7f7f7;
    height: auto;
  }
  
  .col-inner-img{
    height: 180px;
  }
}

@media only screen and (min-width: 960px){
  html{
  font-size: 22px; 
  }
  
  .blue-background{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(0, 43, 128);
  }
  
  
  #row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 150px;
    
  }
  
  #rowF {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 150px;
    
    
  }
  
  #text-overlay{
    position: absolute;
    width: 300px;
    height: 230px;
    text-align: center;
    padding: 5px;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 43, 128, 0.9);
    color: #fff;
  }
  
  .rowhead{
    border-top: 1px solid;
    text-align: left;
    margin-top: 35%;
  }

  .col{
    float: left;
    width: 30%;
    margin-left: 2.5%;
    background-color: #f7f7f7;
    height: 100%;
  }

  .col-inner-img{
    height: fit-content;
  }
}


#column-l {
  display: flex;
	width: 100%;
  justify-content: space-around;
}

#column-r {
  display: flex;
	width: 100%;
  justify-content: space-around;
  

}

label {
  display: block; 
}

input {
 
	display: block;
  box-sizing: border-box;
  width: 65%;
  height: 40px;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="submit"] {
	
	height: 45px;
  border-radius: 10px;
	background-color: #001328;
	color: #C0C0C0;

}

li#input-submit{
	padding-bottom: 0px;
}

form li {
  padding-bottom: 1.182em; /* 26px / ~ 120% */  
	/* adding a padding to each li so that they aren't so close together */
}

form ol{
	padding-top: 20px; 
}

.float{
  float: left;
  margin-bottom: 1.182em;
}